// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

@use '../abstracts' as *;

footer {
  font-family: $font-sora-semibold;
  color: var(--text-20);
  margin-top: 6.26rem;
  .bottom {
    padding: 1.25rem 0;
    font-size: $fs-small;
    span {
      color: var(--text-30);
    }
  }
  .top {
    padding: 1.75rem 0;
  }
  a {
    display: flex;
  }
}
