// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@use '../abstracts' as *;

header {
    &.container {
        padding: 1rem 0;

        @include mq(large) {
            padding: 1rem 1.5rem;
        }
    }
}

.profile_container {
    border-radius: 50% 50% 0 50%;
    overflow: hidden;
    position: relative;
    width: max(40%, 350px);

    .profile_title {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }
}

.profile_title {
    .title {
        color: var(--text-30);
    }

    .subtitle {
        font-size: 1.5rem;
        color: var(--text-20);
        font-family: $font-inter-regular;
    }
}

.hero_left_content {
    width: 60%;
    padding-right: 14rem;

    @include mq(large) {
        padding-right: 0;
    }
    @include mq(medium) {
        width: 100%;
        order: 2;
    }
}

.hero {
    @include mq(medium) {
        flex-direction: column;
    }
}