// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

@use '../abstracts' as *;

html {
  font-size: $base-size;
  font-family: $font-inter-regular, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}

main {
  background-color: var(--primary-20);
  color: var(--text-10);
}


