// -----------------------------------------------------------------------------
// This file contains all @font-face declarations.
// -----------------------------------------------------------------------------

@font-face {
    font-family: InterRegular;
    src: url(../src/fonts/Inter-Regular.ttf);
  }
  
  @font-face {
    font-family: InterSemiBold;
    src: url(../src/fonts/Inter-SemiBold.ttf);
  }

  @font-face {
    font-family: InterBold;
    src: url(../src/fonts/Inter-Bold.ttf);
  }